@model List<Movies>
@using Cinema_task.Models 

<h2 style="font-size: 28px; margin-bottom: 20px; margin-top: 30px; margin-left: 30px;">
    Movies List
</h2>
<div class="mb-3" style="margin-left: 80%;">
    <a href="/Admin/Movies/Index1" class="btn btn-success">+ Add New Movie</a>
</div>

<table style="width: 70%; border-collapse: collapse; margin: 20px auto; font-size: 18px;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="padding: 12px; border: 1px solid #ddd;">ID</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Name</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Description</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Price</th>
            <th style="padding: 12px; border: 1px solid #ddd;">ImgUrl</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Movie Status</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Category Name</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Cinema Name</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Movies in Model)
        {
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">@Movies.MoviesId</td>
                <td style="padding: 10px; border: 1px solid #ddd;">@Movies.Name</td>
                @if (Movies.Description is not null && Movies.Description.Length > 50)
                {
                    <td>@Movies.Description.Substring(0, 50)...</td>
                }
                else
                {
                    <td>@Movies.Description</td>
                }
                <td style="padding: 10px; border: 1px solid #ddd;">@Movies.Price</td>
                <td style="padding: 10px; border: 1px solid #ddd;">@Movies.ImgUrl</td>

                <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">
                    @if (DateTime.Now < Movies.StartDate)
                    {
                        <span class="badge bg-primary">Coming</span>
                    }
                    else if (DateTime.Now >= Movies.StartDate && DateTime.Now <= Movies.EndDate)
                    {
                        <span class="badge bg-success">Available</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Not Available</span>
                    }
                </td>

                <td style="padding: 10px; border: 1px solid #ddd;">@Movies.Category.Name</td>
                <td style="padding: 10px; border: 1px solid #ddd;">@Movies.Cinema.Name</td>

                <td style="text-align: center; padding: 10px; border: 1px solid #ddd;">
                    <a href="/Admin/Movies/Edit?MoviesId=@Movies.MoviesId" class="btn btn-sm btn-warning mx-1">Edit</a>
                    <a href="/Admin/Movies/Delete/@Movies.MoviesId" class="btn btn-sm btn-danger mx-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

