@model List<Cinemas>

<h2 style="font-size: 28px; margin-bottom: 20px;">Cinema List</h2>

<table style="width: 80%; border-collapse: collapse; margin: 20px auto; font-size: 18px;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="padding: 12px; border: 1px solid #ddd;">Address</th>
            <th style="padding: 12px; border: 1px solid #ddd;">Name</th>
            <th style="padding: 12px; border: 1px solid #ddd;">
                Movies
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Cinemas in Model)
        {
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd; text-align: center;">@Cinemas.Address</td>
                <td style="padding: 10px; border: 1px solid #ddd;">@Cinemas.Name</td>
                <td style="padding: 10px; border: 1px solid #ddd;"><a href="Views/Home/@Cinemas.Name">Show Movies</a>
            </tr>
             <td>
            <a asp-action="Edit" asp-route-id="@Cinemas.CinemaId">Edit</a> |
            <a asp-action="Details" asp-route-id="@Cinemas.CinemaId">Details</a> |
            <a asp-action="Delete" asp-route-id="@Cinemas.CinemaId">Delete</a>
    </td>
        }
    </tbody>
</table>
